---
http_interactions:
- request:
    method: delete
    uri: https://api.cdnconnect.com/v1/benjamin.cdnconnect.com/non_existing_uuid.jpg.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer 1JQAmdOFpjLRq0P4qeYRRz79wOcjpkeKEiTa4GfHJ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"results":{},"msgs":[{"status":"error","text":"Invalid uri"}]}'
  recorded_at: Thu, 09 Jan 2014 14:59:30 GMT
recorded_with: VCR 2.8.0
