---
http_interactions:
- request:
    method: put
    uri: https://api.cdnconnect.com/v1/benjamin.cdnconnect.com/1.jpg/rename.json
    body:
      encoding: UTF-8
      string: new_name=new_uuid.jpg
    headers:
      Authorization:
      - Bearer 1JQAmdOFpjLRq0P4qeYRRz79wOcjpkeKEiTa4GfHJ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"results":{"new_name":"new_uuid.jpg","old_name":"1.jpg"},"msgs":[]}'
  recorded_at: Wed, 11 Dec 2013 16:07:21 GMT
- request:
    method: put
    uri: https://api.cdnconnect.com/v1/benjamin.cdnconnect.com/new_uuid.jpg/rename.json
    body:
      encoding: UTF-8
      string: new_name=1.jpg
    headers:
      Authorization:
      - Bearer 1JQAmdOFpjLRq0P4qeYRRz79wOcjpkeKEiTa4GfHJ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"results":{"new_name":"1.jpg","old_name":"new_uuid.jpg"},"msgs":[]}'
  recorded_at: Wed, 11 Dec 2013 16:07:22 GMT
recorded_with: VCR 2.8.0
