---
http_interactions:
- request:
    method: get
    uri: https://api.cdnconnect.com/v1/benjamin.cdnconnect.com/non_existing_uuid.jpg.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer 1JQAmdOFpjLRq0P4qeYRRz79wOcjpkeKEiTa4GfHJ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"results":{"app":{"domain":"cdnconnect.com","bytes_transferred":62478889121,"original_file_size":333326585951,"percent_cache_hits":"91.2","noncache_hits":377219,"folder_count":0,"file_size":325837395467,"id":"dj3bhE6kK1GYY7V","hits":4278125,"ssl_url":null,"custom_domain":false,"cache_hits":3900906,"hostname":"benjamin.cdnconnect.com","uri":"http://benjamin.cdnconnect.com/","trans_file_size":55572512126,"label":"benjamin","percent_noncache_hits":"8.8","file_count":635424,"root_folder_id":"tW8KTTBQdD2C","subdomain":"benjamin","trans_count":3015274}},"msgs":[{"status":"error","text":"Invalid
        uri"}]}'
  recorded_at: Thu, 02 Jan 2014 16:22:29 GMT
recorded_with: VCR 2.8.0
