---
http_interactions:
- request:
    method: get
    uri: https://api.cdnconnect.com/v1/benjamin.cdnconnect.com/1.jpg.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer 1JQAmdOFpjLRq0P4qeYRRz79wOcjpkeKEiTa4GfHJ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"results":{"app":{"domain":"cdnconnect.com","bytes_transferred":62478889121,"original_file_size":333326585951,"percent_cache_hits":"91.2","noncache_hits":377219,"folder_count":0,"file_size":325837395467,"id":"dj3bhE6kK1GYY7V","hits":4278125,"ssl_url":null,"custom_domain":false,"cache_hits":3900906,"hostname":"benjamin.cdnconnect.com","uri":"http://benjamin.cdnconnect.com/","trans_file_size":55572512126,"label":"benjamin","percent_noncache_hits":"8.8","file_count":635424,"root_folder_id":"tW8KTTBQdD2C","subdomain":"benjamin","trans_count":3015274},"object":{"file_name":"1","height":1500,"id":"fT7oR1rAD5k3R","size":206629,"parent_id":"tW8KTTBQdD2C","folders_limit":100,"trans_file_size":0,"width":998,"trans_count":0,"files_offset":0,"type":"image/jpeg","folders_offset":0,"rev_id":"rD3eCMZsXn4t7M","status":1,"files_limit":100,"opt_st":1,"name":"1.jpg","created":"2013-12-12T01:14Z","modified":"2014-01-02T16:03Z","org_size":334972,"org_type":"image/jpeg","ext":"jpg"}},"msgs":[]}'
  recorded_at: Thu, 02 Jan 2014 16:21:18 GMT
recorded_with: VCR 2.8.0
