---
http_interactions:
- request:
    method: get
    uri: https://api.cdnconnect.com/v1/benjamin.cdnconnect.com/non_existing_uuid.jpg.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 1JQAmdOFpjLRq0P4qeYRRz79wOcjpkeKEiTa4GfHJ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"results":{"app":{"domain":"cdnconnect.com","bytes_transferred":91683410158,"original_file_size":334168898015,"percent_cache_hits":"90.4","noncache_hits":615894,"folder_count":0,"file_size":326583987055,"id":"dj3bhE6kK1GYY7V","hits":6411466,"ssl_url":null,"custom_domain":false,"cache_hits":5795572,"hostname":"benjamin.cdnconnect.com","uri":"http://benjamin.cdnconnect.com/","trans_file_size":56092694219,"label":"benjamin","percent_noncache_hits":"9.6","file_count":636570,"root_folder_id":"tW8KTTBQdD2C","subdomain":"benjamin","trans_count":3043404}},"msgs":[{"status":"error","text":"Invalid
        uri"}]}'
  recorded_at: Thu, 09 Jan 2014 14:59:30 GMT
recorded_with: VCR 2.8.0
