---
http_interactions:
- request:
    method: get
    uri: https://api.cdnconnect.com/v1/benjamin.cdnconnect.com/1.jpg.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 1JQAmdOFpjLRq0P4qeYRRz79wOcjpkeKEiTa4GfHJ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"results":{"app":{"domain":"cdnconnect.com","bytes_transferred":91683410158,"original_file_size":334168898015,"percent_cache_hits":"90.4","noncache_hits":615894,"folder_count":0,"file_size":326583987055,"id":"dj3bhE6kK1GYY7V","hits":6411466,"ssl_url":null,"custom_domain":false,"cache_hits":5795572,"hostname":"benjamin.cdnconnect.com","uri":"http://benjamin.cdnconnect.com/","trans_file_size":56092694219,"label":"benjamin","percent_noncache_hits":"9.6","file_count":636570,"root_folder_id":"tW8KTTBQdD2C","subdomain":"benjamin","trans_count":3043404},"object":{"file_name":"1","height":1500,"id":"eU5fNb4oxMD5H","size":334972,"parent_id":"tW8KTTBQdD2C","folders_limit":100,"trans_file_size":0,"width":998,"trans_count":0,"files_offset":0,"type":"image/jpeg","folders_offset":0,"rev_id":"wK4ybCa3xe1G6N","status":1,"files_limit":100,"opt_st":null,"name":"1.jpg","created":"2014-01-08T08:41Z","modified":"2014-01-08T16:41Z","org_size":null,"org_type":null,"ext":"jpg"}},"msgs":[]}'
  recorded_at: Thu, 09 Jan 2014 14:59:28 GMT
recorded_with: VCR 2.8.0
