---
http_interactions:
- request:
    method: put
    uri: https://api.cdnconnect.com/v1/benjamin.cdnconnect.com/2.jpg/rename.json
    body:
      encoding: US-ASCII
      string: new_name=new_uuid.jpg
    headers:
      Authorization:
      - Bearer 1JQAmdOFpjLRq0P4qeYRRz79wOcjpkeKEiTa4GfHJ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"results":{},"msgs":[{"status":"error","text":"Obj cannot be found"}]}'
  recorded_at: Thu, 09 Jan 2014 14:59:37 GMT
recorded_with: VCR 2.8.0
