---
http_interactions:
- request:
    method: put
    uri: https://api.cdnconnect.com/v1/benjamin.cdnconnect.com/1.jpg/rename.json
    body:
      encoding: UTF-8
      string: new_name=rename_test_already_exists_exception.jpg
    headers:
      Authorization:
      - Bearer 1JQAmdOFpjLRq0P4qeYRRz79wOcjpkeKEiTa4GfHJ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"results":{},"msgs":[{"status":"error","text":"File name already exists
        within this folder"}]}'
  recorded_at: Wed, 11 Dec 2013 16:22:45 GMT
recorded_with: VCR 2.8.0
