<!DOCTYPE html>
<html>
<head>
  <title>ImageSystem</title>
  <%= stylesheet_link_tag    "image_system/application", media: "all" %>
  <%= javascript_include_tag "image_system/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
